<div class="saml-container">
    <div class="text-center">{{ description }}</div>
    <div class="text-center"><a 
        href="{{ loginUrl }}"
        title="{{ imageAlt }}"
        class="btn btn-primary"
    ><img src="{{ imageUrl }}" alt="{{ imageAlt }}"></a>
    </div>
</div>
